flask
flask-cors
numpy
pandas
matplotlib
openpyxl
seaborn
scipy
psutil
python-docx
reportlab
PyYAML
python-dotenv
scikit-learn
Werkzeug
requests
sentence-transformers
faiss-cpu
rapidfuzz
nltk
openai
langchain
langchain-community
langchain-openai
langchain-text-splitters
pypdf
tiktoken
python-multipart
